@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/DroidSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* line 5, ../../Documents/GitHub/kenakata/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 8, ../../Documents/GitHub/kenakata/sass/style.sass */
.section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 2rem;
}

/* line 14, ../../Documents/GitHub/kenakata/sass/style.sass */
.section__title {
  color: #222222;
  font-family: "Droid Serif";
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 1.8rem;
  text-align: center;
}

/* line 22, ../../Documents/GitHub/kenakata/sass/style.sass */
.section__descr {
  color: #919191;
  font-family: Muli;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10rem;
  text-align: center;
  max-width: 51.1rem;
}

@media (max-width: 36em) {
  /* line 22, ../../Documents/GitHub/kenakata/sass/style.sass */
  .section__descr {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
}

/* line 34, ../../Documents/GitHub/kenakata/sass/style.sass */
.section__descr--normal {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-transform: none;
}

/* line 39, ../../Documents/GitHub/kenakata/sass/style.sass */
.section__btn {
  display: block;
  width: max-content;
  border-radius: 3px;
  border: 1px solid #f72464;
  text-align: center;
  padding: 1.4rem 4.7rem;
  color: #919191;
  font-family: Lora;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 2.1rem;
  transition: 0.4s;
}

@media (max-width: 36em) {
  /* line 39, ../../Documents/GitHub/kenakata/sass/style.sass */
  .section__btn {
    font-size: 2rem;
  }
}

/* line 56, ../../Documents/GitHub/kenakata/sass/style.sass */
.section__btn:hover {
  background: #f72464;
  color: white;
}

/* line 60, ../../Documents/GitHub/kenakata/sass/style.sass */
.btn {
  display: block;
  color: #ffffff;
  border-radius: 0.3rem;
  background-color: #f72464;
  width: max-content;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 400;
}

/* line 69, ../../Documents/GitHub/kenakata/sass/style.sass */
.btn:hover {
  color: white;
}

/* line 72, ../../Documents/GitHub/kenakata/sass/style.sass */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 75, ../../Documents/GitHub/kenakata/sass/style.sass */
.wrap-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 56.25em) {
  /* line 75, ../../Documents/GitHub/kenakata/sass/style.sass */
  .wrap-line {
    flex-direction: column;
  }
}

/* line 1, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav-item {
  font-size: 2rem;
}

/* line 4, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav {
  z-index: 100;
  width: 100%;
  position: relative;
  height: 6.6rem;
  transition: background 0.3s;
}

@media (max-width: 56.25em) {
  /* line 4, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav {
    display: flex;
    align-items: center;
  }
}

/* line 13, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__open-btn {
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

@media (max-width: 56.25em) {
  /* line 13, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__open-btn {
    display: block;
  }
}

/* line 19, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__open-btn, .nav__logo {
  z-index: 2;
}

/* line 21, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  z-index: 1;
}

@media (max-width: 56.25em) {
  /* line 21, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__body {
    flex-direction: column;
    position: absolute;
    top: -500px;
    left: 0;
    background: black;
    height: max-content;
    padding-bottom: 2rem;
  }
}

/* line 36, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__body-item {
  display: flex;
}

@media (max-width: 56.25em) {
  /* line 38, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__body.container {
    max-width: none;
  }
}

/* line 42, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__body-el, .nav__menu {
  display: flex;
  align-items: center;
}

/* line 45, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__logo {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  /* line 47, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__logo--pc {
    display: none;
  }
}

/* line 50, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__logo--mob {
  display: none;
}

@media (max-width: 56.25em) {
  /* line 50, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__logo--mob {
    display: block;
    position: absolute;
    left: 2rem;
  }
}

/* line 56, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__logo a {
  color: #041122;
  font-family: 'Muli';
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  transition: 0.2s;
}

@media (max-width: 56.25em) {
  /* line 66, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__menu {
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}

/* line 71, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__menu-item {
  color: #52575d;
  font-family: Muli;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 2rem;
  text-transform: capitalize;
  transition: 0.2s;
}

@media (max-width: 56.25em) {
  /* line 71, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
  .nav__menu-item {
    margin-right: 0;
    margin-bottom: 3rem;
    font-size: 2.3rem;
  }
}

/* line 83, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__menu-item:hover {
  color: #f72464;
}

/* line 86, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav__bucket {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 92, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav.open {
  background: black;
}

/* line 95, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav.open .nav__body {
  top: 6.5rem;
}

/* line 97, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.nav.open .nav__logo a {
  color: white;
}

/* line 101, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.bucket__icon {
  position: relative;
}

/* line 103, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.bucket__badge {
  font-size: 1rem;
  border-radius: 100%;
  background: red;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  color: white;
}

/* line 114, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn {
  height: max-content;
}

/* line 116, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn__bar1, .burger-btn__bar2, .burger-btn__bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s, background-color 0.2s;
  display: block;
}

/* line 126, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn.change .burger-btn__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 131, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn.change .burger-btn__bar2 {
  opacity: 0;
}

/* line 135, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn.change .burger-btn__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 141, ../../Documents/GitHub/kenakata/sass/blocks/_nav.sass */
.burger-btn.change .burger-btn__bar1, .burger-btn.change .burger-btn__bar2, .burger-btn.change .burger-btn__bar3 {
  background-color: #52575d;
}

/* line 1, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 100%;
}

/* line 7, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__photo {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 14, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__photo:hover .product__popup {
  opacity: 1;
}

/* line 16, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__photo:hover .product__layer {
  opacity: 0.4;
}

/* line 18, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__popup {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* line 26, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__img {
  width: 100%;
}

/* line 28, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__layer {
  background: black;
  opacity: 0;
  z-index: 1;
}

/* line 32, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__link {
  margin: 0.6rem !important;
  padding: 0 !important;
  z-index: 2;
  width: 12rem !important;
  height: 4rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem !important;
  font-family: 'Muli' !important;
  font-weight: 400 !important;
  line-height: 1.4rem !important;
}

@media (max-width: 36em) {
  /* line 32, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
  .product__link {
    height: 7rem !important;
    width: 23rem !important;
    font-size: 2.5rem !important;
    margin: 1rem !important;
  }
}

/* line 50, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__name {
  color: #222222;
  font-family: "Droid Serif";
  font-size: 1.8rem;
  font-weight: 400;
  margin: 2rem 0 1rem;
}

@media (max-width: 36em) {
  /* line 50, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
  .product__name {
    font-size: 3rem;
  }
}

/* line 58, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__price {
  color: #f72464;
  font-family: Muli;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;
}

@media (max-width: 36em) {
  /* line 58, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
  .product__price {
    font-size: 2rem;
  }
}

/* line 66, ../../Documents/GitHub/kenakata/sass/blocks/_product.sass */
.product__price--old {
  color: #838b8f;
  font-family: Muli;
  text-decoration: line-through;
  margin: 0 1rem;
}

/* line 1, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.5rem 0;
  position: relative;
  background-color: #000000;
}

/* line 6, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 9, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__bg {
  width: 100%;
  height: 100%;
}

/* line 12, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__body {
  position: relative;
  z-index: 2;
}

/* line 15, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__title {
  color: #ffffff;
  font-family: "Droid Serif";
  font-size: 6rem;
  font-weight: 400;
}

@media (max-width: 64.375em) {
  /* line 15, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
  .banner__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 56.25em) {
  /* line 15, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
  .banner__title {
    margin-bottom: 4rem;
    text-align: center;
    line-height: 6.5rem;
  }
}

/* line 26, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__btn {
  font-family: "Droid Serif";
  font-size: 2.2rem;
  padding: 1.8rem 6rem;
}

/* line 30, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__container {
  max-width: 114.1rem;
  width: 100%;
  padding: 0 3rem;
}

/* line 34, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__brand {
  width: 100%;
  height: 7.6rem;
  border-radius: 3px;
  flex-shrink: 0;
  background: #f7f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 16rem;
}

@media (max-width: 75em) {
  /* line 34, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
  .banner__brand {
    margin: 4rem 0;
  }
}

@media (max-width: 36em) {
  /* line 34, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
  .banner__brand {
    margin: 1.5rem 0;
  }
}

/* line 47, ../../Documents/GitHub/kenakata/sass/blocks/_banner.sass */
.banner__brand-img {
  width: 100%;
}

/* line 1, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post {
  display: flex;
  margin-bottom: 7rem;
}

@media (max-width: 57.6rem) {
  /* line 1, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
  .post {
    flex-direction: column;
  }
}

/* line 6, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__photo {
  height: 15.6rem;
  width: 15.6rem;
  margin-right: 3rem;
  overflow: hidden;
  flex-shrink: 0;
}

@media (max-width: 57.6rem) {
  /* line 6, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
  .post__photo {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 36rem) {
  /* line 6, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
  .post__photo {
    width: 100%;
    height: auto;
    padding-bottom: 100%;
  }
}

/* line 21, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__body {
  align-self: center;
}

@media (max-width: 57.6rem) {
  /* line 21, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
  .post__body {
    align-self: flex-start;
  }
}

/* line 25, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__title {
  color: #222222;
  font-family: "Droid Serif";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

/* line 31, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__text {
  color: #898989;
  font-family: Muli;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 1.4rem 0 1.7rem;
}

/* line 38, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__link {
  color: #222222;
  font-family: "Droid Serif";
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 44, ../../Documents/GitHub/kenakata/sass/blocks/_post.sass */
.post__link:after {
  content: '>';
  color: #f72464;
  margin-left: 0.5rem;
  font-weight: bold;
}

/* line 1, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.header {
  padding: 17.5rem 0;
}

@media (max-width: 56.25em) {
  /* line 1, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
  .header {
    padding: 17.5rem 1.5rem;
  }
}

@media (max-width: 31.25em) {
  /* line 1, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
  .header {
    padding: 10rem 1.5rem;
  }
}

/* line 7, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.header__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

/* line 14, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.header__promo {
  z-index: 2;
  position: relative;
}

/* line 19, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.promo__title {
  color: #222222;
  font-family: Lora;
  font-size: 8rem;
  font-weight: 400;
  line-height: 10rem;
  max-width: 70.5rem;
}

@media (max-width: 56.25em) {
  /* line 19, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
  .promo__title {
    font-size: 5rem;
    line-height: 7rem;
  }
}

@media (max-width: 31.25em) {
  /* line 19, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
  .promo__title {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}

/* line 32, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.promo__text {
  color: #52575d;
  font-family: Muli;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  max-width: 63.6rem;
  margin: 3.8rem 0 5.5rem;
}

@media (max-width: 56.25em) {
  /* line 32, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
  .promo__text {
    margin: 3rem 0 4rem;
  }
}

/* line 43, ../../Documents/GitHub/kenakata/sass/sections/_header.sass */
.promo__btn {
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 0.5rem 3rem rgba(31, 35, 37, 0.25);
  padding: 1.4rem 4.5rem;
  font-family: "Droid Serif";
}

/* line 2, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
#mailing .section__descr {
  margin-bottom: 4.5rem;
}

/* line 4, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
#mailing.section {
  padding-top: 0;
}

/* line 8, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
.mailing__form {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 48rem) {
  /* line 8, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
  .mailing__form {
    flex-direction: column;
    align-items: center;
  }
}

/* line 15, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
.mailing__text-field {
  width: 100%;
  max-width: 25rem;
  border-radius: 3px;
  border: 0.1rem solid #f72464;
  padding: 1.4rem 0;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-right: 4rem;
}

@media (max-width: 48rem) {
  /* line 15, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
  .mailing__text-field {
    margin: 0 0 2rem;
  }
}

/* line 27, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
.mailing__text-field:placeholder {
  color: #c4c4c4;
  font-family: Muli;
  font-size: 1.5rem;
  font-weight: 300;
}

/* line 32, ../../Documents/GitHub/kenakata/sass/sections/_mailing.sass */
.mailing__submit-btn {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 2.8rem;
  box-shadow: none;
}

/* line 1, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer {
  background-color: #000000;
}

/* line 3, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer a {
  color: white;
  transition: 0.4s;
}

/* line 6, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer a:hover {
  color: #f72464;
}

/* line 8, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer__links {
  display: flex;
}

@media (max-width: 36em) {
  /* line 8, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
}

/* line 13, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer__link {
  margin: 0 2rem;
  font-family: Muli;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 36em) {
  /* line 13, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
  .footer__link {
    margin: 1.5rem 0;
  }
}

/* line 21, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer__social {
  margin: 2.5rem 0;
}

@media (max-width: 36em) {
  /* line 21, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
  .footer__social {
    margin: 3rem 0 4rem;
  }
}

/* line 25, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer__soc-link {
  font-size: 2rem;
  margin: 0 1rem;
}

/* line 28, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
.footer__copyright {
  color: #898989;
  font-family: Muli;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.7rem;
  text-align: center;
}

/* line 35, ../../Documents/GitHub/kenakata/sass/sections/_footer.sass */
#footer.section {
  padding: 3rem 2rem 4rem;
}

/*# sourceMappingURL=style.css.map */