.banner
	padding: 6.5rem 0
	+centered
	background-color: $black-1
	&__title
		color: #ffffff
		font-family: "Droid Serif"
		font-size: 6rem
		font-weight: 400
		@media (max-width: 64.375em)
			font-size: 4.5rem
	&__btn
	&__container
		max-width: 114.1rem
		width: 100%
		padding: 0 3rem	

.btn

